* {
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

.panel {
    display: flex;
    padding: 1em;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
    background: #1f2639;
}

#container {
    display: flex;
}

#terminal-panel {
    width: 455px;
    flex-direction: column;
}

#terminal-stdout, #terminal-stdin {
    padding: 1em;
    background: #282828;
    color: #00FF66;
    border: 1px solid black;
    outline: none;
    font-family: monospace;
}

#terminal-stdout {
    flex-grow: 1;
    border-bottom: none;
}

#viewport-panel {
    flex-grow: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
